body {
    font-family: Arial, sans-serif;
    background-color: #F7F7F7;


    h2 {
        color: #333333;
        margin-bottom: 20px;
    }


    form {
        width: 50%;
        margin: 0 auto;
        padding: 20px;
        background-color: #FFFFFF;
        border: 1px solid #CCCCCC;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }


    label {
        display: block;
        margin-bottom: 10px;
        color: #666666;
    }

    input[type="text"],
    input[type="number"],
    select {
        width: 100%;
        padding: 5px;
        margin-bottom: 20px;
        border: 1px solid #CCCCCC;
        background-color: #FFFFFF;
    }

    select {
        height: 30px;
    }


    button[type="submit"] {
        background-color: #CCCCCC;
        color: #333333;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #AAAAAA;
    }
}