nav {
    background-color: #FFC107;

    padding: 10px;
    border-bottom: 2px solid #7A288A;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #7A288A;

    text-decoration: none;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #FFC107;

}


footer {
    background-color: #7A288A;

    color: #FFFFFF;

    padding: 10px;
    text-align: center;
    clear: both;
}